/******************************************************************************* 
 *  apiDashboardIndexAction.css
 *
 *  @author Jordan Dalton <jordandalton@wrsgroup.com>
 *  @created Feb 27, 2012, 4:06:10 PM
 ******************************************************************************/

.whatWouldYouLikeToDo {
    font-size:120%;
    margin-top:20px;
}

.whatWouldYouLikeToDo h2 {
    color:#000;
    font-weight:bold;
}

.whatWouldYouLikeToDo ul {
    line-height:30px;
    margin:10px 0 0 20px;
}