/******************************************************************************* 
 *  workOrderArchivedRecordAction.css
 *
 *  @author Jordan Dalton <jordandalton@wrsgroup.com>
 *  @created Mar 1, 2012, 8:26:13 AM
 ******************************************************************************/

.archiveRecordSummary {
    border-color: #ccc transparent #ccc transparent;
    border-style: solid solid solid solid;
    border-width: 1px 0 1px 0;
    font-size:90%;
    line-height: 20px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.appliedWorkCenterGroupData {
    border-top:1px solid #d7d7d7;
    display:none;
    margin-top:7px;
    padding:10px 10px 0 10px;
}

.appliedWorkCenterGroupData ul:nth-child(1) { line-height:20px;margin:10px 20px 5px 20px; }
.appliedWorkCenterGroupData ul ul,
.appliedWorkCenterGroupData ul ul ul { margin-left:10px }

.appliedWorkCenterGroupData ul span.colorCode {
    float:left;
    height:15px;
    width:20px;
    margin:2.5px 5px 0 0;
}